header{
    background-color: #282c34;
    color: white;
}
header p{
    font-size: 25px;
}
.navbar{
    display: flex;
    justify-content: space-around;
}
.navbar-media{
    display: flex;
    list-style-type: none;
}
.navbar-productos{
    display: flex;
    list-style-type: none;
}
.navbar-listap{
    margin-right: 3cm;
    border-top: white;
    font-size: 20px;
    list-style-type: none;
}
.carro{
    background-color: rgba(128, 128, 128, 0.431);
    border-radius: 30px;
    width: 45px;
    height: 35px;
    justify-content: flex-end;
}
.logos{
    margin-left: 15px;

}
.links{
    text-decoration: none;
    color: white;
}
  
  