/*CSS Container*/
.itemContainer{
    background-color: rgba(58, 55, 55, 0.759);
}
/*Cart de los Productos*/
.cart{
    display: flex;
    flex-wrap: wrap;
    
}
.products{
    background-color: rgba(0, 0, 255, 0.53);
    border-radius: 15px;
    margin-bottom: 15px;
}
.botonDetalles{
    background-color: black;
    color: white;
    border-radius: 8px;
    text-decoration: none;
    margin-top: 8px;
}
/*CSS Detalle del Producto*/
.detalleProducto{
    background-color: rgba(0, 0, 255, 0.53);
    border-radius: 15px;
    display: flex;
}
.textoProductos{
    color: rgba(255, 255, 0, 0.707);
    justify-content: center;
    align-content: center;
}
.detalleProducto--cantidad{
    display: flex;
    justify-content: center;
    align-content: center;
}
.boton-mas{
    background-color: rgba(21, 222, 21, 0.841);
    border-radius: 5px;
    color: black;
}
.boton-menos{
    background-color: rgba(223, 19, 19, 0.919);
    border-radius: 5px;
    color: black;
}
